# ------------------------------
# IDEs
# ------------------------------
.vscode/
*.code-workspace
.idea/
*.iml
*.ipr
*.iws

# ------------------------------
# Build outputs
# ------------------------------
bin/
obj/
out/
build/

# ------------------------------
# OS junk
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs
# ------------------------------
*.log
