
<link rel="stylesheet" href="css/Navbar.css"/>
<div class="top-row px-4; link">

    <li class="c-dropdown">
        <NavLink class="nav-link" href="/workers">
            Employees
        </NavLink>
        <div class="c-dropdown-menu" role="menu">
            <NavLink class="nav-link" href="/workers">
                Analyzer
            </NavLink>
            <NavLink class="nav-link" href="/workers">
                Operators
            </NavLink>
        </div>
    </li>
    <NavLink class="nav-link" href="/login">
        Login
    </NavLink>

</div>