@page "/Navbar"

<link rel="Stylesheet" href="css/loginStyle.css"/>
         <div class="header-container">
             <div>
                 <header >
                     <div class="header-logo">  @* Adjusted depending on the logo *@
                         <img src="assets/logo.png" class="w-1" alt="logo"> @* Insert customer logo *@
                     </div>
                 </header>
             </div>
             <div class="header-menu-container">
                 <button class="header-button">
                     <a href="login.html">Login</a> @* Returns to the login-page *@
                 </button>
             </div>
         </div>