
<link rel="stylesheet" href="css/Navbar.css"/>
<div class="top-row px-4; link">
    <ul>
        <li class="c-dropdown">
            <NavLink class="nav-link" href="/Workers">
                Employees
            </NavLink>
            <div class="c-dropdown-menu" role="menu">
                <ul>
                    <NavLink class="nav-link" href="/Workers">
                        Analyzer
                    </NavLink>
                    <NavLink class="nav-link" href="/Workers">
                        Operators
                    </NavLink>
                </ul>
            </div>
        </li>
        <NavLink class="nav-link" href="/Login">
            Logout
        </NavLink>
    </ul>
</div>