.buttonControl {
  display: flexbox;
  flex-direction: row;
}

.parent {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.div1 {
  margin: 20px;
}

.div2 {
  margin: 20px;
}

.div3 {
  margin: 20px;
}

.div4 {
  margin: 20px;
}

.div5 button {
  color: red;
  margin: 20px;
}

.div6 {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 20px;
}

.div7 label {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.div8 {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.div9 {
  display: flex;
  flex-direction: column;
  font-size: 18;
  margin: 20px;
}

.priority {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
