.buttonControl {
  display: flex;
  flex-direction: row;
}

.parent {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.child1{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #72A500;
    border-radius: 25px;
    margin: 5px;
    padding: 15px;
    
}
.child2{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    background-color: #10154C;
    border-radius: 25px;
    margin: 5px;
    padding: 15px;
}
.div1, .div2, .div3, .div4, .div5 {
    display: flex;
    flex:1;
    width: 100%;
    margin: 20px;
    
}
.startButton, .stopButton, .ResetButton, .ClearButton, .abortButton {
    width: 100%; 
    height: 40px; 
    cursor: pointer;
}
.startButton:active, .stopButton:active, .ResetButton:active, .ClearButton:active, .abortButton:active {
    background: #72A500;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
   
}

.startButton{
    flex:1;
    background:  #FAF0E6;
    color:black;
    font-weight: bold;
    font-family: sans-serif;
    transition-duration: 0.3s;
    border-radius: 25px;
    border-style: none;
  

}

.stopButton{
    flex:1;
    background:  orangered;
    color:#FAF0E6;
    font-weight: bold;
    font-family: sans-serif;
    transition-duration: 0.3s;
    border-radius: 25px;
    border-style: none;
  
    
}


.ResetButton{
    flex:1;
    background:  orange;
    color:black;
    font-weight: bold;
    font-family: sans-serif;
    transition-duration: 0.3s;
    border-radius: 25px;
    border-style: none;

}


.ClearButton{
    flex:1;
    background: #10154C;
    color:#FAF0E6;
    font-weight: bold;
    font-family: sans-serif;
    transition-duration: 0.3s;
    border-radius: 25px;
    border-style: none;
    
}

.abortButton {
    flex:1;
    background: #990f02;
    color: #FAF0E6;
    font-weight: bold;
    font-family: sans-serif;
    transition-duration: 0.3s;
    border-radius: 25px;
    border-style: none;
}  
.AddBatch{
    flex:1;
    background:  #72A500;
    color:black;
    font-weight: bold;
    font-family: sans-serif;
    transition-duration: 0.3s;
    border-radius: 25px;
    border-style: none;
}
.AddBatch:active {
    flex: 1;
    background: #10154C;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    transition-duration: 0.3s;
    border-radius: 25px;
    border-style: none;

}
.BatchPriority{
    background:  #FAF0E6;
    color:black;
    font-weight: bold;
    font-family: sans-serif;
    transition-duration: 0.3s;
    border-radius: 25px;
    border-style: none;
}

.div6 {
  display: flex;
  flex-direction: column;
  color: black;
  margin: 10px;
}
.div6 label,.priority label, .div7 label, .div8 label, .div9 label {

    font-weight: bold;
    font-family: sans-serif;
    margin: 5px;
    color:  #FAF0E6;
}


.div7 label {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.div8 {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.div9 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 20px;
}

.priority, .div6 {
  margin: 20px;
    font-family: sans-serif;
  display: flex;
  flex-direction: column;
    
}

.pulldown1{
    border-radius: 15px;
    border-style: none;
    
}

.kasser{
    border-radius: 7px;
    border-style: none;
}
