.buttonControl {
  display: flexbox;
  flex-direction: row;
}

.parent {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.div1 {
  margin: 20px;
}

.div2 {
  margin: 20px;
}

.div3 {
  margin: 20px;
}

.div4 {
  margin: 20px;
}

.div5 button {
  color: red;
  margin: 20px;
}
