/* Machine card */
.machine-card {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;

    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.machine-card-add {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px dashed #ccc;
    justify-content: center;
    text-decoration: none;
    color: #ccc;

    background: #fafafa;
    transition: 0.1s ease-in-out;
}

.machine-card-add:hover {
    background: #f2f2f2;
    border-color: #c4c4c4;
    color: #c4c4c4;
}

.machine-image {
    width: 120px;
    height: 120px;
    border-radius: 6px;
    object-fit: cover;
    border: 1px solid #ddd;
}



.machine-info {flex: 1;}

.machine-name {margin: 0 0 5px;}

.status.online {color: var(--online-color); font-weight: bold;}

.status.offline {color: var(--offline-color); font-weight: bold;}

/* Variables */
.machine-variables {
    min-width: 200px;
    padding-left: 10px;
    border-left: 1px solid #ddd;
}

.machine-variables h4 {margin-top: 0; font-size: 14px;}

.w-error {
    color:red;
    margin:.5rem 0;
}


 .machines-grid {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
     gap: 1.5rem;
     margin-top: 1rem;
 }

.bg-purple {
    background-color: #6f42c1 !important;
}

.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    transition: box-shadow 0.15s ease-in-out;
}

.card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
