:root {
    --primary-color: #EC9D00;
    --primary-color-light: #F6C101;
    --secondary-color: #C96E12;
    --background-color: #d8d8d8;
    --color-white: #fff;
    --color-dark: #76410B;
    --online-color: #008000;
    --offline-color: #ff0000;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Bahnschrift, serif;
    background: var(--background-color);
}