# ------------------------------
# IDEs
# ------------------------------
.vscode/
*.code-workspace
.idea/
*.iml
*.ipr
*.iws
*.DotSettings.user
*.sln.DotSettings.user
*.sln.DotSettings
*.sln.ide
*.dotCover
*.resharper
*.ncrunch*
*.vs/
*.rider/

# ------------------------------
# Build outputs and tests
# ------------------------------
**/bin/
**/obj/
**/out/
**/build/
**/TestResults/
*.trx
*.xunit.xml
Debug/
Release/
Beerproduction.Tests/bin
Beerproduction.Tests/obj

# ------------------------------
# OS junk
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs
# ------------------------------
*.log
*.tmp
*.bak
*.swp

# ------------------------------
# Local env & secrets
# ------------------------------
.env*              # ignore ALL .env files
!.env.example      # allow template in repo
**/appsettings.*.Local.json
**/appsettings.Local.json

# ------------------------------
# User-specific files
# ------------------------------
*.user
*.suo
*.userosscache
*.sln.docstates
