@page "/"
@using BeerProduction.Components.Layout
@layout MainLayout
<link rel="stylesheet" href="/css/homeStyle.css">
<PageTitle>Home</PageTitle>


<h1>Welcome to the Beer Production Management System</h1>
<div>
    <p>
        This system allows you to monitor and manage the beer production process efficiently.
    </p>
</div>
