@page "/"
@using BeerProduction.Components.Layout
@using Microsoft.AspNetCore.Authorization
@using BeerProduction.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateService AuthenticationStateService
@inject NavigationManager NavigationManager
@layout MainLayout
<link rel="stylesheet" href="/css/homeStyle.css">

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="operator,manager,admin">
    <Authorized>
        <div class="home-container">
            <h1>@_role dashboard</h1>
            <p>Welcome, @_username!</p>
            <div>
                <p>
                    This system allows you to monitor and manage the beer production process efficiently.
                </p>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo("/login");
        }
    </NotAuthorized>
</AuthorizeView>



<div class="home-container">
    <h1>@_role dashboard</h1>
    <p>Welcome, @_username!</p>
    <div>
        <p>
            This system allows you to monitor and manage the beer production process efficiently.
        </p>
    </div>
</div>

@code {

    private string? _username;
    private string? _role;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(50);
        
        _username = AuthenticationStateService.GetUsername();
        _role = AuthenticationStateService.GetRole();
    }
}