@using BeerProduction.Components.Layout
@using BeerProduction.Components.Model
@using BeerProduction.Services
@inject MachineControlService MachineControlService
@rendermode InteractiveServer   

@page "/MachineControl"
@layout MainLayout
<link rel="stylesheet" href="/css/homeStyle.css">
<link rel="stylesheet" href="/css/machinecontrol.css">
<PageTitle>MachineControl</PageTitle>

<div>
    <h1>Her er dine machine controls</h1>
    <div class="parent">
        <div class="div1">
            <p>her er nogle ting i det ene grid</p>
            <div class="buttonControl">
                <button @onclick="startMachine" name="startButton">Start</button>
                <button @onclick="stopMachine" name="stopButton">Stop</button>
                <button>Abort</button>
            </div>

        </div>
        <div class="div2">
            <p>Her er nogle ting i det andet grid</p>
            <button>WUuuuCLICK</button>
        </div>
    </div>

</div>

@code
{

    private async Task startMachine()
    {
        //await MachineControlService.StartMachineAsync();
    }

    private async Task stopMachine()
    {
       // await MachineControlService.StopMachineAsync();
    }
}