@using BeerProduction.Components.Model
@using BeerProduction.Enums
@using BeerProduction.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateService AuthenticationStateService
@inject DatabaseConnection Db
@inject NavigationManager NavigationManager

@page "/machine-control"
@* Rendermode very important, makes buttons clickable:) *@
@rendermode InteractiveServer
@* Stylesheet, main one is machinecontrol.css 
   the other is only navbar and global style *@
<link rel="stylesheet" href="/css/homeStyle.css">
<link rel="stylesheet" href="/css/machinecontrol.css">
<PageTitle>MachineControl</PageTitle>

<AuthorizeView Roles="operator,admin">
    <Authorized Context="auth">
        <h1>Machine control</h1>

        <div class="parent">
            <div class="div1">
                @*<button @onclick="StartMachine">Start</button>*@
            </div>
            <div class="div2">
                <button @onclick="StopMachine">Stop</button>
            </div>
            <div class="div3">
                @*<button @onclick="ResetMachine">Reset</button>*@
            </div>
            <div class="div4">
                @*<button @onclick="ClearMachine">Clear</button>*@
            </div>
            <div class="div5">
                @*<button @onclick="AbortMachine">Abort</button>*@
            </div>
            <div class="div6">
                <label for="BeerType">Select a Beer type</label>
                <select @bind="SelectedBeerType" id="BeerType">
                    <option value="-1" disabled>Select a beer type</option>
                    <option value="0">Pilsner</option>
                    <option value="1">Wheat</option>
                    <option value="2">IPA</option>
                    <option value="3">Stout</option>
                    <option value="4">Ale</option>
                    <option value="5">Alcohol free</option>
                </select>

            </div>

            <div class="priority">
                <label for="Priority">Select a Beer priority</label>
                <select @bind="SelectedPriority" id="Priority">
                    <option value="-1" disabled>Select a beer type</option>
                    <option value="0">Low</option>
                    <option value="1">Medium</option>
                    <option value="2">High</option>
                </select>
            </div>

            <div class="div7">
                @* Form for adding batch size and batch speed *@
                <EditForm Model="@batchForm">
                    <label>
                        Amount:
                        <InputNumber @bind-Value="batchForm.Size"/>
                    </label>

                    <label>
                        Speed:
                        <InputNumber @bind-Value="batchForm.Speed"/>
                    </label>
                </EditForm>
            </div>
            <div class="div8">
                <label for="BatchButton">Add to batch</label>
                <button id="BatchButton" @onclick="AddBatchButton">Add Batch</button>
            </div>

            <div class="div9">
                <label for="SeePriority">See batch priority</label>
                <button id="SeePriority" @onclick="SeeBatchPriority">
                    BatchPriority
                </button>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        @{
            NavigationManager.NavigateTo("/");
        }
    </NotAuthorized>
</AuthorizeView>


@code {
    [Parameter] public MachineControlService MachineControlService { get; set; } = null!;
    
    int _id = 1;
    private string? _userId;
    private MachineControl? _machineControl;

    // In your component
    private int SelectedBeerType { get; set; } = -1;
    private int SelectedPriority { get; set; } = -1;

    private BatchForm batchForm = new();

    @* private BatchService batchService = new(); *@

    private BatchQueue BatchQueue = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(50);
        
        _userId = AuthenticationStateService.GetUserId();

        if (string.IsNullOrEmpty(_userId) || !int.TryParse(_userId, out var userIdInt))
        {
            return;
        }

        try
        {
            await using var conn = await Db.OpenAsync(); // pooled under the hood
            await using var cmd = conn.CreateCommand();

            cmd.CommandText = @"SELECT u.user_id, m.id, m.url, m.name
                                FROM public.user_machine u 
                                JOIN public.machine_table m ON u.machine_id = m.id
                                WHERE u.user_id = @userId";

            cmd.Parameters.AddWithValue("@userId", userIdInt);

            await using var rdr = await cmd.ExecuteReaderAsync();

            if (await rdr.ReadAsync())
            {
                var machineId = rdr.GetInt32(rdr.GetOrdinal("id"));
                var machineUrl = rdr.GetString(rdr.GetOrdinal("url"));
                var machineName = rdr.GetString(rdr.GetOrdinal("name"));

                Console.WriteLine($"Connection test result: {rdr}");

                _machineControl = new MachineControl(machineId, machineUrl, machineName);

                MachineControlService = new MachineControlService(_machineControl);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine($"error: {e}");
        }
    }

    @* Methods for controlling machine with buttons *@
    //private async Task AbortMachine() => await MachineControlService.AbortCommandAsync();
    //private async Task StartMachine() => await MachineControlService.AutomatedStart();
    private async Task StopMachine() => await MachineControlService.StopMachineAsync();
    //private async Task ResetMachine() => await MachineControlService.ResetCommandAsync();
    //private async Task ClearMachine() => await MachineControlService.ClearCommandAsync();


    private void AddBatchButton()
    {
        Batch batch = new Batch(_id, (BeerType)SelectedBeerType, batchForm.Size, batchForm.Speed, (BatchPriority)SelectedPriority);

        Console.WriteLine("Batch has been created!!");

        BatchQueue.EnqueueBatch(batch, batch.Priority);

        Console.WriteLine("Batch have been added to queue");
        BatchQueue.BatchQueuePrint();
        _id++;
    }

    private void SeeBatchPriority()
    {
        Console.WriteLine("Batch has been created!!");
        Console.WriteLine("Batch have been added to queue");
        foreach (var batches in BatchQueue.ToOrderedListIDFirst())
        {
            Console.WriteLine($"Batch ID: {batches.Id}, Priority: {batches.Priority}");
            Console.WriteLine("Beer type " + batches.BeerType);
            Console.WriteLine("Amount of beers " + batches.Size);
            Console.WriteLine("Machine speed " + batches.Speed);
            Console.WriteLine();
        }
    }

}
