@using BeerProduction.Components.Layout
@using BeerProduction.Components.Model
@using BeerProduction.Services

@inject MachineControlService MachineControlService
@rendermode InteractiveServer

@page "/MachineControl"
@layout MainLayout
<link rel="stylesheet" href="/css/homeStyle.css">
<link rel="stylesheet" href="/css/machinecontrol.css">
<PageTitle>MachineControl</PageTitle>


<div>
    <h1>Machine control</h1>
</div>
<div class="parent">
    <div class="div1">
        <button @onclick="startMachine" name="startButton">Start</button>
    </div>
    <div class="div2">
        <button @onclick="stopMachine" name="stopButton">Stop</button>
    </div>
    <div class="div3">
        <button @onclick="resetMachine">Reset</button>
    </div>
    <div class="div4">
        <button @onclick="clearMachine">Clear</button>
    </div>
    <div class="div5">
        <button @onclick="abortMachine">Abort</button>
    </div>
</div>

@code
{

    private async Task abortMachine()
    {
        await MachineControlService.AbortCommandAsync();
    }
    private async Task startMachine()
    {
        await MachineControlService.StartMachineAsync();
    }

    private async Task stopMachine()
    {
        await MachineControlService.StopMachineAsync();
    }

    private async Task resetMachine()
    {
        await MachineControlService.ResetCommandAsync();
    }

    private async Task clearMachine()
    {
        await MachineControlService.ClearCommandAsync();
    }
}