@using BeerProduction.Components.Layout
@inject MachineControlService machineControlService

@page "/MachineControl"
@layout MainLayout
<link rel="stylesheet" href="/css/homeStyle.css">
<link rel="stylesheet" href="/css/machinecontrol.css">
<PageTitle>MachineControl</PageTitle>

<div>
    <h1>Her er dine machine controls</h1>
    <div class="parent">
        <div class="div1">
            <p>her er nogle ting i det ene grid</p>
            <div class="buttonControl">
                <button onclick="machineConstolService" name="startButton">Start</button>
                <button>Stop</button>
                <button>Abort</button>
            </div>

        </div>
        <div class="div2">
            <p>Her er nogle ting i det andet grid</p>
            <button>WUuuuCLICK</button>
        </div>
    </div>

</div>

@code{



}