@page "/operator"
@using BeerProduction.Services
@inject DatabaseConnection Db
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<link rel="stylesheet" href="css/operatorStyle.css"/>


    <div class="machine-view">
    
    <div class="machine-inventory">
        <ol class="ordered-queue">
        
            <li class="queue-item" >
            <h4 class="BatchId"> BatchId </h4>
            <p>Status: venter</p> 
            </li>


            <li class="queue-item">
            <h4 class="BatchId">BatchId</h4>
            <p>Status: Venter</p>
            </li>

            <li class="queue-item">
            <h4 class="BatchId">BatchId</h4>
            <p>Status: Venter</p>
            </li>
        </ol>
    </div>
    <div class="machine-meter">
        <div class="variables">
            <ul>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/Batch.jpg" > 
                    <span>
                        Batch Id: 12345
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/Temperature.jpg" > 
                    <span>
                        Temperature: 38
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/Humidity.jpg" > 
                    <span>
                        Humditity
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/AmountToProduce.jpg">
                    <span>

                        Amount to produce
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/Produced.jpg" > 
                    <span>
                        Produced
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/AcceptableProducts.jpg" > 
                    <span>
                        Acceptable products
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/DefectProduct.jpg" > 
                    <span>
                        Defect products
                    </span>
                </li>
                <li>
                    <img class="VaribaleLogo" src="../assets/VariablesLogo/SuccesRate.jpg" > 
                    <span>
                        Succesrate
                    </span>
                </li>
            </ul>

        </div>
    </div>
    <div class="Machine-bottom">
        
        <div class="ButtonAlert">
            <button class="AlertButton">
                Alert
            </button>

        </div>
        
        

    </div>
</div>


