@page "/operator"
@using BeerProduction.Services
@inject DatabaseConnection Db
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<link rel="stylesheet" href="css/operatorStyle.css"/>


    <div class="machine-view">
    
    <div class="machine-inventory">
        <ol class="ordered-queue">
        
            <li class="queue-item" >
            <h4 class="BatchId"> BatchId </h4>
            <p>Status: venter</p> 
            </li>


            <li class="queue-item">
            <h4 class="BatchId">BatchId</h4>
            <p>Status: Venter</p>
            </li>

            <li class="queue-item">
            <h4 class="BatchId">BatchId</h4>
            <p>Status: Venter</p>
            </li>
        </ol>
    </div>
    <div class="machine-meter">
        <div class="variables">
            <ul>
                <li>
                    <label>
                        Batch Id: 12345
                    </label>
                </li>
            </ul>

        </div>
    </div>
</div>


