@page "/Workers"
@using BeerProduction.Components.Layout
@layout ManagerLayout

<h2>Employees</h2>

<div class="w-error" id="error"></div>

<table class="table" id="emp-table" style="width:100%;border-collapse:collapse;">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
        <th>Hired</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>